doctype html
html
    head
        title Recruitment Card Challenge
        meta(charset="utf-8")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600&display=swap" rel="stylesheet")

        link(href="../sass/app.scss" rel="stylesheet")
        script(src="../js/main.js" type="module" defer="defer")
    body
        block content